### Importing required libraries

In [177]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

### Creating dataframe to store required data

In [228]:
df_config=pd.read_excel("C:\\Users\\psonawane\\Documents\\excel_to_python.xlsx", sheet_name='config_data')
df_proc_data=pd.read_excel("C:\\Users\\psonawane\\Documents\\excel_to_python.xlsx", sheet_name='Data')
df_tag_list=pd.read_excel("C:\\Users\\psonawane\\Documents\\excel_to_python.xlsx", sheet_name='tag_description')
df_final_cols=pd.read_excel("C:\\Users\\psonawane\\Documents\\excel_to_python.xlsx", sheet_name='final_col_list')

In [223]:
df_config.head()  #this is how our dataframe would look df1 to df4

                             tag_name      values
0                  reference_pressure     1.01325
1               reference_temperature    15.60000
2                 suction_temperature    54.40000
3  stg_inlet_capacity_volumetric_flow  2834.90000
4                        cylinder_dia   330.20000

In [224]:
df_data.head(3)

,Date,Time,GERC_A_TIT_003.PV,GERC_A_TIT_004.PV,GERC_A_TIT_010.PV,GERC_A_TIT_006.PV,GERC_A_TIT_007.PV,GERC_A_TIT_020.PV,GERC_A_TIT_015.PV,GERC_A_TIT_016.PV,...,GERC_A_VE_VT_016.PV,GERC_A_VE_VT_017.PV,GERC_A_VE_VT_018.PV,GERC_A_VE_VT_019.PV,GERC_A_VE_VT_020.PV,GERC_A_VE_VT_015A.PV,GERC_A_VE_VT_015B.PV,GERC_A_VT_001A.PV,GERC_A_VT_002A.PV,GERC_A_VT_003A.PV
0,2019-01-14,18:00:00,23.64,51.70,21.55,21.82,51.23,49.82,52.03,51.76,...,1.06,0.97,1.46,1.28,1.83,1.64,1.44,1.83,1.46,1.74
1,2019-01-14,19:00:00,23.96,55.85,21.20,21.40,56.07,53.12,55.91,55.76,...,1.39,1.24,1.96,1.70,2.41,2.17,1.91,1.84,1.47,1.80
2,2019-01-14,20:00:00,24.29,59.99,20.85,20.99,60.91,56.41,59.80,59.77,...,1.72,1.52,2.45,2.13,2.98,2.70,2.37,1.85,1.48,1.87

In [183]:
df_tag_list.head()

,client_tag_name,description,org_description
0,GERC_A_TIT_003.PV,1S_suction_temp,"1st Stage Suction, deg C"
1,GERC_A_TIT_004.PV,1S_discharge_temp,"1st Stage Discharge, deg C"
2,GERC_A_TIT_010.PV,HE_outlet,Air Cooled Heat Exchanger Outlet
3,GERC_A_TIT_006.PV,2S_suction_srubber_out,2nd Stage Suction Scrubber Outlet
4,GERC_A_TIT_007.PV,2S_discharge_pressure,2nd Stage Discharge

In [221]:
df_final_cols.head()

                final_col_list                   new_name
0    Suction pressure @ flange    suction_pressure_flange
1  Discharge pressure @ flange  discharge_pressure_flange
2            Compression ratio         compression_rartio
3           Total Swept volume            total_swept_vol
4                Swept vol, HE               swept_vol_HE

### Mapping our client's tag list to the new column name as per our convenience

In [225]:
col_mapping=dict(zip(df_tag_list['client_tag_name'],df_tag_list['description']))#this will help us to use our column name for calculation irrespective of client's tag_name
df_data.rename(columns=col_mapping, inplace=True) #this will rename client_tag with our column_name, which we specified in df3

In [226]:
df_data.head(2)

,Date,Time,S1_suction_temp,S1_discharge_temp,HE_outlet,S2_suction_srubber_out,S2_discharge_pressure,inlet_to_oilfilter,compressor_main_bearingrtd,compressor_main_bearingrtd,...,compressorframe,compressorframe,compressorframe,compressorframe,enginevibration,CP_vibration_pressure,CP_vibration_pressure,HE_motor,HE_motor,HE_motor
0,2019-01-14,18:00:00,23.64,51.70,21.55,21.82,51.23,49.82,52.03,51.76,...,1.06,0.97,1.46,1.28,1.83,1.64,1.44,1.83,1.46,1.74
1,2019-01-14,19:00:00,23.96,55.85,21.20,21.40,56.07,53.12,55.91,55.76,...,1.39,1.24,1.96,1.70,2.41,2.17,1.91,1.84,1.47,1.80

### Making a list of final columns which we've to calculate

In [227]:
final_col_list=df_final_cols['new_name']

In [190]:
print(final_col_list)

0          suction_pressure_flange
1        discharge_pressure_flange
2               compression_rartio
3                  total_swept_vol
4                     swept_vol_HE
5                     swept_vol_CE
6                polymetric_expo_n
7              HE_clearance_vol_Vs
8                         (V4) TDC
9                      head_end_V1
10                          BDC_V2
11                           HE_V3
12             CE_clearance_vol_Vs
13                          TDC_V4
14                           CE_V1
15                          BDC_V2
16                           HE_V3
17              HE_inlet_vol_eff %
18              CE_inlet_vol_eff %
19          HE_discharge_vol_eff %
20          CE_discharge_vol_eff %
21          cal_avg_inlet_vol_eff%
22       design_avg_inlet_vol_eff%
23                overall_vol_eff%
24                           Zs_S1
25                           Zd_S1
26                            Zavg
27                    Vsp_inlet_S1
28                Vsp_discharge_S1
29          stage_inlet_capacity_Q
30          stage_inlet_capacity_M
31      stage_discharge_capacity_Q
32      stage_discharge_capacity_M
33                               k
34                         k/(k-1)
35                             Had
36             Adiabatic_disc_temp
37             actual_disc_temp_S1
38                  Adiabatic_eff%
39                             Pad
40    Zd_adiabatic_temp_disc_press
41                   Vsp_discharge
42           adiabatic_flow_factor
43                  flow_factor_S1
44                rod_load_tension
45            rod_load_compression
46            max_allowed_gas_load
47          disc_temp-ad_disc_temp
Name: new_name, dtype: object

### Defining a function to store our formulae for final_cols

In [217]:
def calc(df1, df2, stage)
    df2['suction_pressure_flange_'+stage]=df2['1S_suction_pressure']+ df1.iloc[29,1]
    df2['discharge_pressure_flange_'+stage]=df2['1S_discharge_pressure']+ df1.iloc[23,1]+df1.loc['max_allowed_rod_load_tension',1]
    

df2.head()

,Date,Time,1S_suction_temp,1S_discharge_temp,HE_outlet,2S_suction_srubber_out,2S_discharge_pressure,inlet_to_oilfilter,compressor_main_bearingrtd,compressor_main_bearingrtd,...,compressorframe,enginevibration,CP_vibration_pressure,CP_vibration_pressure,HE_motor,HE_motor,HE_motor,suction_pressure_flange,discharge_pressure_flange,discharge_pressure_flangeStg1
0,2019-01-14,18:00:00,23.64,51.70,21.55,21.82,51.23,49.82,52.03,51.76,...,1.28,1.83,1.64,1.44,1.83,1.46,1.74,22.8989,27.7289,27.7289
1,2019-01-14,19:00:00,23.96,55.85,21.20,21.40,56.07,53.12,55.91,55.76,...,1.70,2.41,2.17,1.91,1.84,1.47,1.80,22.8789,29.3289,29.3289
2,2019-01-14,20:00:00,24.29,59.99,20.85,20.99,60.91,56.41,59.80,59.77,...,2.13,2.98,2.70,2.37,1.85,1.48,1.87,22.8489,30.9289,30.9289
3,2019-01-14,21:00:00,24.62,64.14,20.50,20.57,65.75,59.71,63.68,63.77,...,2.56,3.55,3.23,2.84,1.85,1.49,1.93,22.8189,32.5289,32.5289
4,2019-01-14,22:00:00,24.95,68.29,20.15,20.15,70.59,63.00,67.57,67.77,...,2.99,4.12,3.75,3.30,1.86,1.50,2.00,22.7889,34.1289,34.1289

In [ ]:
df_res_stg1=calc(df_config, df_proc_data,'stg1')